<!DOCTYPE html>
<html>
<head>
	<title>FreeCodeCamp API Basejump: URL Shortener Microservice</title>
</head>
<body>
<p>User stories:</p>
<ul>
<li>
I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
<li>When I visit that shortened URL, it will redirect me to my original link.</li></ul>
</body>


<footer>Created By : {{Created}}<a href="https://github.com/jtanya34" target="_blank">  <i class="fab fa-github"></i></a>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"></footer>
</html>
