<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>original_url: <a href={{original_url}}>{{original_url}}</a></p>
 
	<p> short_url: <a href={{original_url}}>{{short_url}}</a></p>

</body>
</html>